{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries: </h1>
    <div class=" allPrograms">
    {% for program in programs %}
         <div class="program">
            <a href="{{ path("program_show", { slug: program.slug }) }}"><img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"></a>
            <h2>{{ loop.index }} . {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p class="card-text">{{ program.summary| striptags | slice(0, 180) }} [...] </p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    </div>

    <div class="boutonRetour">
        <a href="{{ path('app_index') }}">
        Retour à l'accueil
        </a>
    </div>
{% endblock %}