{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }}{% endblock %}

{% block body %}
    <div class="episodes">
        {{season.description}}
        <div class="episode">
        Les épisodes de la saison :
         {% for episode in season.episodes %}
             <li>
             <a href="{{ path("program_show_episode", { slug: season.program.slug, season_id:season.id, episode:episode.slug}) }}">
             {{episode.title}}
             </a>
             </li>
             {% endfor %}
        </div>
    </div>

    <div class="boutonRetour">
        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}
