<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="/assets/css/style.css">
            <link rel="icon" type="favicon/x-icon" href="/public/assets/images/icon.png">
            <link href="http://fonts.cdnfonts.com/css/geometri-outine" rel="stylesheet">
            <link href="http://fonts.cdnfonts.com/css/aovel-sans-2" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    {% block header %}
    <nav>
        <div class="wildtitre">Wild series</div>
        <ul>
            <SELECT name="catégories" size="1">
            <option>Catégories</option>
            {# {% for category in categories %} #}
            {# <option>{{ category.name }}</option></a> #}
            {# {% endfor %} #}
            </SELECT>

            <SELECT name="acteurs" size="1">
            <option>Acteurs</option>
            </SELECT>

            <li><a href="">Mes favoris ❤</a></li>

            <li>{% if app.user %}
                {{ app.user.email }}
                <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            </li>
            <li>{% else %}
                <a href="{{ path('login') }}"> Se connecter</a>
            {% endif %}
            </li>
        </ul>
    </nav>
    {% endblock %}

    {% block body %}
    {% endblock %}
    </body>
</html>
